<div class="container  py-5">
    <h1 class="display-5 fw-bold">Welcome to Quiz For Future</h1>
    <p class="col-md-8 fs-4">This Quiz contains total 20 questions. Each question holds 10 marks.</p>
    <h4>Rules :</h4>
    <ol>
        <li>Correct question gives you 10 points</li>
        <li>Incorrect question gives to -10 points</li>
        <li>You will have 10 seconds to answer each questions</li>
        <li>Refreshing the page will reset the quiz</li>
    </ol>
    <h1 style="font-family:cursive; text-align: center;">All the Best !!<span><img style="width: 100px;" src="../assets/images/rating.png"></span></h1>
    <div class="name col-md-4 my-3">
        <label for="">Enter your name :</label>
        <input #name type="text" class="form-control"><br>
        <button class="btn btn-primary btn-lg" routerLink="/quizes" (click)="startQuiz()">Start the Quiz!!</button>
    </div>
    
    
    
    
    
    
    </div>
