.card{
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 2px;
    border-color: rgb(8, 5, 5);
}
p{
    font-family: fantasy;
    font-size: 20px;
}
a{
    margin: auto;
}
    

    

